<div class="top-cards">
  <div class="card">
    <div class="card__left">
      <div class="card__icon card__icon--green">
        <i class="ti ti-arrow-down-left"></i>
      </div>
      <div class="card__info">
        <span class="card__label">Total Entrou (mês)</span>
        <span class="card__value green">
          {{ totalReceitasMes | currency:"BRL":"symbol":"1.2-2":"pt-BR" }}
        </span>
        <span class="card__compare" [class]="corReceita">
          <ng-container *ngIf="variacaoReceita !== null; else semDadoReceita">
            <i class="ti" [class.ti-trending-up]="corReceita === 'up'" [class.ti-trending-down]="corReceita === 'down'"></i>
            {{ variacaoReceita | number:'1.0-1' }}% vs mês anterior
          </ng-container>
          <ng-template #semDadoReceita>Sem dados do mês anterior</ng-template>
        </span>
      </div>
    </div>
    <div class="card__sparkline">
      <canvas #sparkline width="80" height="40"></canvas>
    </div>
  </div>

  <div class="card">
    <div class="card__left">
      <div class="card__icon card__icon--red">
        <i class="ti ti-arrow-up-right"></i>
      </div>
      <div class="card__info">
        <span class="card__label">Total Saiu (mês)</span>
        <span class="card__value red">
          {{ totalDespesasMes | currency:"BRL":"symbol":"1.2-2":"pt-BR" }}
        </span>
        <span class="card__compare" [class]="corDespesa">
          <ng-container *ngIf="variacaoDespesa !== null; else semDadoDespesa">
            <i class="ti" [class.ti-trending-up]="corDespesa === 'up'" [class.ti-trending-down]="corDespesa === 'down'"></i>
            {{ variacaoDespesa | number:'1.0-1' }}% vs mês anterior
          </ng-container>
          <ng-template #semDadoDespesa>Sem dados do mês anterior</ng-template>
        </span>
      </div>
    </div>
    <div class="card__sparkline">
      <canvas #sparkline width="80" height="40"></canvas>
    </div>
  </div>
</div>